.advertisement
{
	width:175px;
	height:180px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 18px;
}

img{
	width: 250px;
}

.header{
	position: relative;
	width: 70%;
	left: 15%;
	padding-left: 10px;
}

.title{
	position: relative;
	left: 20px;
}

.logo{
	float: left;
	border: 50px
}

.content{
	width: 70%;
	position: relative;
	left: 10%;
}

.image{
	position: relative;
	width: 10px;
	right: 200px;
	top: 20px;
	float: left;
}

.main{
	position: relative;
	width: 70%;
	top: 25px;
	left: 60px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;

}

.head{
	position: relative;
	width: 20%;
	left: 25%;
	margin: 5%;
}
